*.txt
*.log
*.txr
*.o
file1
inp
out
out2
outfile
shell
y.tab.c
y.tab.h
command.cc:Zone.Identifier
command.h:Zone.Identifier
shell.l:Zone.Identifier
shell.y:Zone.Identifier
Makefile:Zone.Identifier
aaa
bbb
cc
lex.yy.c
examples
aaaa
cccc
dfdffd
jjjj
ssss
